footer.pie {
  background-color: white; /* fondo blanco */
  color: #a9745b; /* texto oscuro para contraste */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
}

footer.pie h4 {
  margin: 0 0 10px 0;
  font-weight: bold;
}

footer.pie p {
  margin: 0 0 10px 0;
  max-width: 300px;
}


footer.pie .interes ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  
}

footer.pie .interes ul li a {
  color: #4e2626;
  text-decoration: none;
  
}

footer.pie .interes ul li a:hover {
  text-decoration: underline;
  
}

/* Agrupar contenido en columnas para mejor estructura */
footer .info,
footer .interes {
  flex: 1;
  min-width: 250px;
  padding: 10px;
}
